@use "../../style/style.scss";

.singleDetailWrap {
  border-radius: 10px;
  -webkit-box-shadow: style.$custom-box-shadow;
  -moz-box-shadow: style.$custom-box-shadow;
  box-shadow: style.$custom-box-shadow;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    height: 25px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(194, 193, 193);
  }

  .singleDetail {
    //   width: min-content;
    //   height: min-content;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .detailimage {
      flex: 1;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 40px;
      align-items: center;

      padding: 10px;

      img {
        height: 280px;
        width: 280px;
        // width: 100%;
        // height: auto;
        border-radius: 15px;
      }
    }
    .details {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .detailfield {
        width: 40%;
        min-width: 220px;
        display: flex;
        align-items: center;
        gap: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.233);
        margin-bottom: 40px;
        padding: 10px;
        .fieldkey {
          width: 30%;
          font-size: large;
          font-weight: bold;
        }
      }
      .editbutton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 40%;
        max-width: 400px;
        height: 25px;
        border: 1px solid rgb(105, 238, 220);
        background-color: rgba(105, 238, 220, 0.274);
        border-radius: 10px;
        &:hover {
          background-color: rgb(105, 238, 220);
          cursor: pointer;
        }
      }
    }
  }
}
