@use "../../style/style.scss";

.singleDetailWrap {
  font-size: 1rem;
  border-radius: 0.625em;
  -webkit-box-shadow: style.$custom-box-shadow;
  -moz-box-shadow: style.$custom-box-shadow;
  box-shadow: style.$custom-box-shadow;
  padding: 1.25em;
  flex: 1;
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    height: 1.5625em;
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(194, 193, 193);
  }

  .singleDetail {
    //   width: min-content;
    //   height: min-content;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;

    .detailimage {
      flex: 1;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 2.5em;
      align-items: center;

      padding: 0.625em;

      img {
        height: 17.5em;
        width: 17.5em;
        // width: 100%;
        // height: auto;
        border-radius: 15px;
      }
    }
    .details {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .detailfield {
        width: 40%;
        min-width: 13.75em;
        display: flex;
        align-items: center;
        gap: 2em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.233);
        margin-bottom: 1.5em;
        padding: 0.625em;
        .fieldkey {
          width: 30%;
          font-size: 1.3em;
          font-weight: bold;
        }
      }
      .editbutton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.625em;
        width: 40%;
        // max-width: 35.625em;
        height: 1.5625em;
        border: 0.0625em solid rgb(105, 238, 220);
        background-color: rgba(105, 238, 220, 0.274);
        border-radius: 0.625em;
        &:hover {
          background-color: rgb(105, 238, 220);
          cursor: pointer;
        }
      }
    }
  }
}
