.discount {
  flex: 1;
  display: flex;
  padding: 5px;
  //   flex-direction: column;
  height: fit-content;
  &.true {
    border: 0.5px solid lightgray;
    border-radius: 5px;
  }
  &.false {
    border: none;
  }

  .discountContainer {
    flex: 1;
    display: flex;

    .selDiscLabel {
      flex: 1;
      font-size: small;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    }

    .discountWrapper {
      border-left: 1px solid rgba(0, 0, 0, 0.281);

      flex: 4;
      display: flex;

      .discSelect {
        flex: 2;
        display: flex;

        #select {
          text-align: center;
        }
      }

      .discValue {
        flex: 1;
        .MuiInputLabel-root {
          width: 100%;
          text-align: center;
        }
        .MuiInputBase-input {
          text-align: center;
        }
      }
    }
  }
}
