@use "../../style/style.scss";

.datatable {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: style.$custom-box-shadow;
  -moz-box-shadow: style.$custom-box-shadow;
  box-shadow: style.$custom-box-shadow;
  // .title {
  // flex: 1;
  // }
  .dataHeadContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .addLink {
      text-decoration: none;

      .addLinkContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        font-weight: 600px;
        padding: 10px;
        border-radius: 6px;
        background-color: #b4d5e457;
        cursor: pointer;
      }
    }
  }
  .gridcontainer {
    flex: 1;
  }
  .MuiDataGrid-root .MuiDataGrid-columnHeader,
  .MuiDataGrid-root .MuiDataGrid-cell {
    outline: none !important;
  }
}
