.ddContainer {
  flex: 1;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.5em;
  // border-bottom: 1px solid lightgray;
  .selContainer {
    flex: 1;
    min-width: 60px;

    .selectfcontrol {
      // font-size: smaller;
      width: 100%;
      // .select {
      //   // font-size: smaller;
      // }
      .MuiFormLabel-root {
        font-size: 0.9em;
      }
    }
  }
  .grpqtyactions {
    flex: 1;
    display: flex;
    gap: 1em;
    min-width: 100px;
    // min-width: 20.625em;

    .qtyContainer {
      flex: 1;
      // min-width: 16em;
      .textfield {
        width: 100%;
      }
    }
    .actionsContainer {
      flex: 0.95;
      display: flex;
      height: 100%;
      // gap: 0.15em;
      align-items: end;
      justify-content: space-around;
      // border: 0.5px solid lightgray;
      // border-radius: 4px;

      .addCircle {
        color: rgba(135, 206, 250, 0.801);
        cursor: pointer;
      }
      .deleteIcon {
        color: rgba(240, 128, 128, 0.781);
        cursor: pointer;
      }
    }
  }
}
