.widget {
  // max-width: 330px;
  min-width: 240px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 120px;
  // border: 0.2px solid #6b33ff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.07);
  .left,
  .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left {
    .title {
      font-size: 20px;
      font-weight: bold;
      color: rgb(194, 193, 193);
    }
    .counter {
      font-size: 40px;
      font-weight: bold;
    }
    .link {
      font-size: 16px;
      border-bottom: 0.5px solid rgba(194, 193, 193, 0.747);
    }
  }
  .right {
    .percentage {
      display: flex;
      align-items: center;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      align-self: flex-end;
      font-size: 14px;
      padding: 5px;
      border-radius: 5px;
      color: brown;
      background-color: rgba(165, 42, 42, 0.295);
    }
  }
}
