.dashboard {
  padding: 20px;

  .widgets {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
  }
  .charts {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    .contfeatured {
      width: auto;
      flex: 2;
    }
    .contchart {
      width: auto;

      flex: 5;
    }
  }
  .lists {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
  }
}
