.dashboard {
  padding: 20px;

  .widgets {
    display: flex;
    gap: 20px;
  }
  .charts {
    padding: 20px 0px;
    display: flex;
    gap: 20px;
    .contfeatured {
      flex: 2;
    }
    .contchart {
      flex: 5;
    }
  }
  .lists {
    display: flex;
    gap: 20px;
    .listcontainer {
      flex: 1;
      display: flex;
    }
  }
}
