.layout {
  min-height: 100vh;

  display: flex;

  .sidebarcontainer {
    flex: 1;
    // background: rgb(195, 195, 241);
  }
  .pagecontainer {
    flex: 7;
    // background-color: aqua;
    .navcontainer {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      font-size: 14px;
      border-bottom: 0.5px solid rgba(194, 193, 193, 0.747);
      //   background-color: papayawhip;
    }
  }
}
