@use "../../style/style.scss";
.table {
  flex: 1;

  padding: 20px;

  border-radius: 10px;

  border-radius: 10px;
  -webkit-box-shadow: style.$custom-box-shadow;
  -moz-box-shadow: style.$custom-box-shadow;
  box-shadow: style.$custom-box-shadow;
  .title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(194, 193, 193);
  }
  .MuiTable-root {
    min-width: 300px;
  }
}
.tabCell {
  .statusCell {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 5px;
    // margin: 30px;
    border-radius: 5px;

    &.Delivered {
      color: green;
      background-color: rgba(0, 128, 0, 0.276);
    }
    &.Processing {
      color: orange;
      background-color: rgba(255, 166, 0, 0.295);
    }
    &.Returned {
      color: red;
      background-color: rgba(255, 0, 0, 0.285);
    }
  }
  img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
  }
}
