@use "../../../style/style.scss" as style;
.newOrderContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  .newOrder {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: style.$custom-box-shadow;
    -moz-box-shadow: style.$custom-box-shadow;
    box-shadow: style.$custom-box-shadow;
    .title {
      width: 100%;
      display: flex;
      height: 25px;
      margin-left: 5px;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      color: rgb(194, 193, 193);
    }
    form {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      .formwrapper {
        // flex: 1;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .right,
        .left {
          flex: 1;

          //   width: 100%;
          min-width: 300px;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          // justify-content: space-between;
          margin: 5px 5px;
          .grpOrderRowsWrapper,
          .discountSelectWrapper {
            height: fit-content;
            width: 100%;
          }
          .forminput {
            // flex: 1;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 1.75em;
            // margin-top: 1.75em;
            // min-width: 300px;
            .inputkey {
              width: 100%;
              font-size: large;
              font-weight: bold;
            }
            .inputvalue {
              width: 100%;

              margin-top: 20px;
              font-size: large;
              border: none;
              outline: none;
              border-bottom: 1px solid rgba(0, 0, 0, 0.281);
            }
            .shipWrapper {
              margin-top: 10px;
              flex: 1;
              display: flex;
              // height: fit-content;
              .shipSelect {
                flex: 2;
                display: flex;
              }

              .shipCost {
                flex: 1;
              }
            }
          }
        }
        .left {
          justify-content: space-between;
        }
        .right {
          flex-direction: column;
          justify-content: start;
        }
      }
      .grpBtnWrap {
        width: 100%;
        display: flex;
        justify-content: end;
        .grpbuttons {
          display: flex;
          gap: 20px;

          // align-self: flex-end;
          // margin-right: 10px;
          margin: 10px;
          width: 30%;
          .submitbutton {
            flex: 1;
            padding: 0;
            font-size: 1.5vw;
            border: 1px solid green;
            border-radius: 10px;
            background-color: rgba(0, 128, 0, 0.253);
            cursor: pointer;
            &:hover {
              background-color: rgba(0, 128, 0, 0.459);
            }
          }
          .cancelbutton {
            flex: 1;
            padding: 0;
            font-size: 1.5vw;
            border: 1px solid red;
            border-radius: 10px;

            background-color: rgba(255, 0, 0, 0.226);
            cursor: pointer;
            &:hover {
              background-color: rgba(255, 0, 0, 0.527);
            }
          }
        }
      }
    }
  }
}
